difareli_user_study/change_bg/dat/randomly_for_mturk/all_pairs_example/
difareli_user_study/change_bg/dat/randomly_for_mturk/all_pairs_full/
difareli_user_study/change_bg/dat/randomly_for_mturk/all_pairs_full copy/
difareli_user_study/change_bg/dat/randomly_for_mturk/eval_pairs_full/
difareli_user_study/change_bg/dat/randomly_for_mturk/eval_pairs_tmp/
difareli_user_study/change_bg/dat/randomly_for_mturk/mount/
difareli_user_study/change_bg/dat/__pycache__/
difareli_user_study/change_bg/node_modules
difareli_user_study/change_bg/instruction.mp4
filebrowser.db

difareli_user_study/DiFaReli++/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/difareli++_a1_frames/*
difareli_user_study/DiFaReli++/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/difareli++_a2_frames/*
difareli_user_study/DiFaReli++/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/hou21_shadowm_a1_frames/*
difareli_user_study/DiFaReli++/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/hou21_shadowm_a2_frames/*
difareli_user_study/DiFaReli++/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/hou22_geom_a1_frames/*
difareli_user_study/DiFaReli++/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/hou22_geom_a2_frames/*
difareli_user_study/DiFaReli++/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/ic_light_a1_frames/*
difareli_user_study/DiFaReli++/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/ic_light_a2_frames/*
difareli_user_study/DiFaReli++/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/ball/*

difareli_user_study/DiFaReli++_MajorRevision/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/difareli++_a1_frames/*
difareli_user_study/DiFaReli++_MajorRevision/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/difareli++_a2_frames/*
difareli_user_study/DiFaReli++_MajorRevision/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/hou21_shadowm_a1_frames/*
difareli_user_study/DiFaReli++_MajorRevision/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/hou21_shadowm_a2_frames/*
difareli_user_study/DiFaReli++_MajorRevision/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/hou22_geom_a1_frames/*
difareli_user_study/DiFaReli++_MajorRevision/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/hou22_geom_a2_frames/*
difareli_user_study/DiFaReli++_MajorRevision/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/ic_light_a1_frames/*
difareli_user_study/DiFaReli++_MajorRevision/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/ic_light_a2_frames/*
difareli_user_study/DiFaReli++_MajorRevision/dat/move_shadows_mturk/user_study_rotateSH_pairs/*/ball/*

difareli_user_study/DiFaReli++_MajorRevision/dat/move_shadows_mturk/user_study_rotateSH_pairs_nowm/*
difareli_user_study/DiFaReli++_MajorRevision/dat/move_shadows_mturk/user_study_rotateSH_pairs/*
difareli_user_study/DiFaReli++_MajorRevision/dat/randomly_for_mturk/

