difareli_user_study/change_bg/dat/randomly_for_mturk/all_pairs_example/
difareli_user_study/change_bg/dat/randomly_for_mturk/all_pairs_full/
difareli_user_study/change_bg/dat/randomly_for_mturk/all_pairs_full copy/
difareli_user_study/change_bg/dat/randomly_for_mturk/eval_pairs_full/
difareli_user_study/change_bg/dat/randomly_for_mturk/eval_pairs_tmp/
difareli_user_study/change_bg/dat/randomly_for_mturk/mount/
difareli_user_study/change_bg/dat/__pycache__/
difareli_user_study/change_bg/node_modules
difareli_user_study/change_bg/instruction.mp4
filebrowser.db